{% extends "layout.html" %}

{% block title %} Experiment 1 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css" xmlns="http://www.w3.org/1999/html">
    <link rel = "stylesheet" href="../../static/css/columns.css">


{% endblock %}

{% block content %}
<div id = "main">
<div class = "container">
<div class = "left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
</div>


    <div class = "header">
<div class="pure-g">

    <div class="pure-u-1"> <h1> Pitch Discrimination </h1> </div>
    <div class="pure-u-1"> <h2> Experiment 1</h2> </div>
</div>

        <div class="content">
            <aside style="background: #FFFFFF"><h3 style="color: #111111">Description</h3>
           <p style="color: #111111">
Can you identify if two sounds have the same pitch or a different pitch?
To play, press "Play tone 1" and "Play tone 2" and click on the answer you think is appropriate!
           </p>
           </aside>
        </div>


<div class = "content">

<aside style="background: #fff1ea; color:#111111">

    <h3 style="color: #111111">Question</h3>
<form class="pure-form" name="swar">
         <h5><label for="state" style = "color: #111111">Choose Instrument</label></h5>
             <select name ="state" id="ins" class="pure-input-2-3" onchange="init()">
            <option value = "1">Santoor</option>
            <option value = "2">Shehnai</option>
	    <option value = "3">Harmonium</option>
	    <option value = "4">Flute</option>
	    <option value = "5">Sitar</option>
</select>
        </form>


    <div class="pure-u-1-1 centering-div"> </div>
	<div class="pure-u-1-4 centering-div">
        <button class="pure-button centered option button-secondary" onclick="playsound1()">
            <i class="fa fa-play"></i>
                Play Tone 1
        </button>
    </div>
	<div class="pure-u-1-4 centering-div">
        <button class="pure-button centered option button-secondary" onclick="playsound2()">
            <i class="fa fa-play"></i>
            Play Tone 2
        </button>
    </div>
<br>
<br>

<div class = "content" style="color: #111111">    Is the pitch of tone 1 the same as the pitch of tone 2?
</div>
</aside>
</div>

<div class = "content">

<aside style="background: #e5dcd9">

   <h3 style="color: #111111">Answer</h3>

<div class="pure-u-1-1 centering-div"></div>

	<div class="pure-u-1-4 centering-div" > <button class="pure-button centered option button-success" onclick="yes()">
        <i class="fa fa-check"></i>
        Yes</button> </div>
    	<div class="pure-u-1-4 centering-div"> <button class="pure-button centered option button-error" onclick="no()">
            <i class="fa fa-remove"></i>
            No</button> </div>
<br>
<br>
<div class = content>
<aside style="background: #596999; width:30%%; height:5%; display: inline-block;">
    <p style="color: #ffffff">Result:</p>
<div class="pure-u-1-4 centering-div"></div>
<div id="div1-1" style="font-size: 15pt; color: #ffffff"></div>
<div class="pure-u-1-4 centering-div"></div>
<div id="div1-2" style="font-size: 15pt; color: #ffffff"></div>
</div>
    </aside>
    </aside>
</div>
{#<div class="exprmnt-btn-wrapper">#}
{##}
{#</div>#}
</div>

<div class = "right">
  <a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=2)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
</div>
</div>

</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/expr1_pitchdisc.js')}}"></script>
<script type="text/javascript">
window.onload=function()
{
	init();
}
</script>
{% endblock %}

