{% extends "layout.html" %}

{% block title %} Experiment 14 {% endblock %}

{% block head %}
    <style>
      .active a { color: black; }
      .panel {
        display: none;
      };
    </style>
	
    {% endblock %}

{% block content %}

<div id="main">

<div class = "container">
<script>
	function rendering(rendertext)
	{
		document.getElementById("rendering").innerHTML=rendertext;
		renderDocWithStyle();
		//console.log(op);
		//document.getElementById("rendering").innerHTML=op;
	}
	</script>

    <div class = "left">

    <a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
    </div>
<script src="/static/js/carnot.js"></script>


                <div class="header">
                    <div class="pure-g">
                    <div class="pure-u-1"> <h1> Lay Quiz </h1> </div>
                    <div class="pure-u-1"> <h3> Experiment 14</h3> </div>
                </div>

                <div class="content">
                  <h2 class="content-subhead">Description</h2>
                  <aside style = "background: #ffffff", color: "#111111">
                    <p>
                    In how many matras is a taal completed in a given lay? From which matra does it need to be started?
                    Enter an answer in the given text box - for example, if it is completed in 4 matras, enter 4. If it is completed in 5 1/3 matras, enter 5 1/3. Then click submit. But make sure you follow the exact format and do not enter extra characters!
                        <p>
                      There are 2 levels - you have to identify the number of matras to complete the taal in the given lay in the first level and additionally the starting position of the given lay in the second level.
                        </p>
                 </p>
                      </aside>
                </div>


             <aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>
                         <div style="display: none" id="hideAll">&nbsp;</div><div style="display: none" id="hideAll">&nbsp;</div>

            <div class="pure-menu pure-menu-open pure-menu-horizontal">
              <ul id="level-selector">
                <li value="1"><a class="flip" href="#panel1">Level1</a></li>
                <li value="2"><a class="flip" href="#panel2">Level2</a></li>
              </ul>
            </div>
            <br>
            <br>


            <div id="Container">
            <div id="layer">

            <div class = "panel" id = "panel1">
            <div class="pure-u-1-1 centering-div"> </div>

                <p name="ques"></p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>

            <br>
	    <div class="pure-menu pure-menu-open pure-menu-horizontal" style="background: transparent">
	    <form>
	    Number of matras: <input type="text" name="matras"><p name="alert"></p><br>
	    </form>
            <br>
	    </div>
	    <br>

	    <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>

            </aside>
            </div>


            <div class = "panel" id = "panel2">
            <div class="pure-u-1-1 centering-div"> </div>
            <p name="ques"></p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
            <br>
            <br><div class="pure-menu pure-menu-open pure-menu-horizontal" width="50%" style="background: #e5dcd9">
            <form>
	    Number of matras: <input type="text" name="matras">
	    <p name="alert"></p><br>
	     &nbsp;Starting position:  &nbsp;<input type="text" id="starting">
	    <p name="alert"></p><br>
	    </form>
	    </div>
            <br>

	   <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>
<br>

            <br>
            <br>
            </aside>

<br>
	    </div>
</div>
</div>
</div>
<br>
<div class = content>
<aside style="background: #596999" align="center">
    <h3 style="color: #ffffff">Result</h3>
    <h4 id="rightorwrong"></h4>
    <h4 id="answer"></h4>
    <h4 id="score"></h4>
    <div>
        </aside>
            <br>

<div>
<aside style="background: #ffffff" align="center">
<h3 style="color: #000000">Taal</h3>
<pre class="carnot_section"><code id="rendering"></code></pre>

</div>
</aside>
</div>
    <div class = "right">
  <a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=1)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
    </div>

</div>
{% endblock %}


{% block script %}
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/expr14_layquiz.js"></script>
{% endblock %}
