{% extends "layout.html" %}

{% block title %} Experiment 6 {% endblock %}

{% block head %}

    <script src="{{ url_for('static', filename='js/expr6_stringofsvar.js')}}"></script>
    <style>
      .active a { color: black; }
      .panel {
        display: none;
      };
    </style>
{% endblock %}

{% block content %}

<div id="main">

<div class = "container">

    <div class = "left">

    <a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
    </div>


                <div class="header">
                    <div class="pure-g">
                    <div class="pure-u-1"> <h1> Identify sequence of svar </h1> </div>
                    <div class="pure-u-1"> <h3> Experiment 6</h3> </div>
                </div>

                <div class="content">
                  <h2 class="content-subhead">Description</h2>
                  <aside style = "background: #ffffff", color: "#111111">
                    <p>
	            This experiment is similar to Experiment 5! By now you must have learnt note names! For this experiment you will need them - you will have to identify 3 tones played in succession.
		    To play, click on "Play Drone". Listen carefully - that is your reference note. Click on "Play Tones" - this is your question.
		    Choose an answer from the options - which notes do you these are? Then click submit.</p>
                 </p>
                      </aside>
                </div>


             <aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>
              <div class = "content">
                <form class="pure-form" name="swar">
                    <h5><label for="state">Choose Instrument</label>
                    <select name="state" class="pure-input-2-3" id="instrument">
                      <option value="santoor">Santoor</option>
                      <option value="shehnai">Shehnai</option>
                        <option value="harmonium">Harmonium</option>
                        <option value="flute">Flute</option>
                        <option value="sitar">Sitar</option>
                    </select></h5>
                </form>
              </div>

            <div style="display: none" id="hideAll">&nbsp;</div><div style="display: none" id="hideAll">&nbsp;</div>

            <div class="pure-menu pure-menu-open pure-menu-horizontal">
              <ul id="level-selector">
                <li value="1"><a class="flip" href="#panel1">Level1</a></li>
                <li value="2"><a class="flip" href="#panel2">Level2</a></li>
                <li value="3"><a class="flip" href="#panel3">Level3</a></li>
                <li value="4"><a class="flip" href="#panel4">Level4</a></li>
                <li value="5"><a class="flip" href="#panel5">Level5</a></li>
              </ul>
            </div>
            <br>
            <br>


            <div id="Container">
            <div id="layer">

            <div class = "panel" id = "panel1">
            <div class="pure-u-1-1 centering-div"> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>

                <p>What is the sequence of notes played?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>

            <br>
            <br>
            <button class="pure-button centered option button-primary" name="level1" value="Sa" style="color:black" onclick="fillbox(1,'Sa')"> Sa </button>
	    <button class="pure-button centered option button-primary" name="level1" value="Re" style="color:black" onclick="fillbox(1,'Re')"> Re </button>
	    <button class="pure-button centered option button-primary" name="level1" value="Ga" style="color:black" onclick="fillbox(1,'Ga')"> Ga </button>
            <button class="pure-button centered option button-primary" name="level1" value="Pa" style="color:black" onclick="fillbox(1,'Pa')"> Pa </button>
	    <button class="pure-button centered option button-primary" name="level1" value="Dha" style="color:black" onclick="fillbox(1,'Dha')"> Dha </button>
	    <br>
            <br>
	    <button class="pure-button centered option button-primary" name="l1" style="color:black" onclick="setcurrent(0)"> </button>
	    <button class="pure-button centered option button-primary" name="l1" style="color:black" onclick="setcurrent(1)"> </button>
	    <button class="pure-button centered option button-primary" name="l1" style="color:black" onclick="setcurrent(2)"> </button>
	    <br>
	    <br>
            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button> </div><br><br>
            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-error" onclick="show_answer()">Show Answer</button> </div>
            <br>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>
            </div>


            <div class = "panel" id = "panel2">
            <div class="pure-u-1-1 centering-div"> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>
                                <p>What is the name of the note played?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
             <br>
            <br>
            <button name="level2" value="Sa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Sa')"> Sa </button>
	    <button name="level2" value="Re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Re')"> Re </button>
	    <button name="level2" value="Ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Ga')"> Ga </button>
	    <button name="level2" value="Ma" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Ma')"> Ma </button>
            <button name="level2" value="Pa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Pa')"> Pa </button>
	    <button name="level2" value="Dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Dha')"> Dha </button>
	    <button name="level2" value="Ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(2,'Ni')"> Ni </button>
	    <br>
            <br>
	    <button name="l2" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(0)"> </button>
	    <button name="l2" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(1)"> </button>
	    <button name="l2" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(2)"> </button>
	    <br>
	    <br>
           <div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button> </div><br><br>

            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-error" onclick="show_answer()">Show Answer</button> </div>
            <br>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>
            </div>

            <div class = "panel" id = "panel3">
            <div class="pure-u-1-1 centering-div"> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>
                <p>What is the name of the note played?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
              <br>
            <br>
            <button name="level3" value="Sa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Sa')"> Sa </button>
	    <button name="level3" value="Re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Re')"> Re </button>
	    <button name="level3" value="Ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Ga')"> Ga </button>
	    <button name="level3" value="Ma" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Ma')"> Ma </button>
            <button name="level3" value="Pa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Pa')"> Pa </button>
	    <button name="level3" value="Dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Dha')"> Dha </button>
	    <button name="level3" value="Ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(3,'Ni')"> Ni </button>
	    <br>
            <br>
	    <button name="l3" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(0)"> </button>
	    <button name="l3" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(1)"> </button>
	    <button name="l3" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(2)"> </button>
	    <button name="l3" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(3)"> </button>
	    <br>
	    <br>
           <div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button> </div><br><br>

            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-error" onclick="show_answer()">Show Answer</button> </div>
            <br>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>
            </div>


            <div class = "panel" id = "panel4">
            <div class="pure-u-1-1 centering-div"> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>
                <p>What is the name of the note played?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
             <br>
            <br>
            <button name="level4" value="Sa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Sa')"> Sa </button>
            <button name="level4" value="re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'re')"> re </button>
	    <button name="level4" value="Re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Re')"> Re </button>
            <button name="level4" value="ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'ga')"> ga </button>
	    <button name="level4" value="Ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Ga')"> Ga </button>
	    <button name="level4" value="Ma" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Ma')"> Ma </button>
            <button name="level4" value="Ma#" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Ma#')"> Ma# </button>
            <button name="level4" value="Pa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Pa')"> Pa </button>
            <button name="level4" value="dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'dha')"> dha </button><br><br>
	    <button name="level4" value="Dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Dha')"> Dha </button>
            <button name="level4" value="ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'ni')"> ni </button>
	    <button name="level4" value="Ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(4,'Ni')"> Ni </button>
	    <br>
            <br>
	    <button name="l4" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(0)"> </button>
	    <button name="l4" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(1)"> </button>
	    <button name="l4" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(2)"> </button>
	    <br>
	    <br>
            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button> </div><br><br>

            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-error" onclick="show_answer()">Show Answer</button> </div>
            <br>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>
            </div>

            <div class = "panel" id = "panel5">
            <div class="pure-u-1-1 centering-div"> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="play_tonic()"><i class="fa fa-play"></i>Play Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="stop_tonic()"><i class="fa fa-stop"></i>Stop Tonic</button> </div>
                <div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playtone_clicked()"><i class="fa fa-play"></i>Play Tone</button> </div>
                <p>What is the name of the note played?</p>
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
              <br>
            <br>
            <button name="level5" value="Sa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Sa')"> Sa </button>
            <button name="level5" value="re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'re')"> re </button>
	    <button name="level5" value="Re" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Re')"> Re </button>
            <button name="level5" value="ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'ga')"> ga </button>
	    <button name="level5" value="Ga" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Ga')"> Ga </button>
	    <button name="level5" value="Ma" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Ma')"> Ma </button>
            <button name="level5" value="Ma#" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Ma#')"> Ma# </button>
            <button name="level5" value="Pa" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Pa')"> Pa </button>
            <button name="level5" value="dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'dha')"> dha </button><br><br>
	    <button name="level5" value="Dha" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Dha')"> Dha </button>
            <button name="level5" value="ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'ni')"> ni </button>
	    <button name="level5" value="Ni" class="pure-button centered option button-primary" style="color:black" onclick="fillbox(5,'Ni')"> Ni </button>
	    <br>
            <br>
	    <button name="l5" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(0)"> </button>
	    <button name="l5" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(1)"> </button>
	    <button name="l5" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(2)"> </button>
	    <button name="l5" class="pure-button centered option button-primary" style="color:black" onclick="setcurrent(3)"> </button>
	    <br>
	    <br>
           <div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit_clicked()">Submit</button> </div><br><br>
            <div class="pure-u-1 centering-div"><button class="pure-button centered option button-error" onclick="show_answer()">Show Answer</button> </div>
            <br>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            <br>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>
            </div>

            </div>
            </div>
            </aside>
            <br>
            <br>
            <aside style="background: #596999; color:#ffffff;">
            <h3 style="color: #ffffff">Result</h3>
            <div style="font-size: 20pt, color:#ffffff;" id="answer"></div>
            <div class="pure-u-1-4 centering-div"></div>
            <div style="font-size: 20pt, color:#ffffff;" id="ans"></div>
            <div class="pure-u-1-4 centering-div"></div>
            <div style="font-size: 20pt, color:#ffffff;" id="score"></div>
            <div class="pure-u-1-4 centering-div"></div>
            </aside>

            <br>
            </div>


    <div class = "right">
  <a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=7)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
    </div>

</div>
{% endblock %}


{% block script %}
<script type="text/javascript" src="/static/js/mousetrap.min.js"></script>
<script type="text/javascript">
  window.onload = function() {
    init();
  };
</script>
{% endblock %}
