{% extends "layout.html" %}

{% block title %} Experiment 12 {% endblock %}
{% block head %}
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">

{% endblock %}

{% block content %}
<div id="main">
<div class="container">
<div class="left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a>
</div>

<div class="header">
<div class="pure-g">
<div class="pure-u-1"><h1>Taal Quiz</h1></div>
<div class="pure-u-1"><h2>Experiment 12</h2></div>
</div>

<div class="content" style="background: #fff1ea; color: #111111">
<br>
<h3 style="color: #111111">QUESTION</h3>

<p id="ques"></p>
<br>
</div>

<br>
<div class="content" style="background: #e5dcd9">
<br>
<h3 style="color: #111111">ANSWER</h3>
<form action="">
<input type="radio" id="op1" name="op" value="op1" style="vertical-align:middle;margin:0px;">&nbsp;<br>
<input type="radio" id="op2" name="op" value="op2" style="vertical-align:middle;margin:0px;">&nbsp;<br>
<input type="radio" id="op3" name="op" value="op3" style="vertical-align:middle;margin:0px;">&nbsp;<br>
<input type="radio" id="op4" name="op" value="op4" style="vertical-align:middle;margin:0px;">&nbsp;<br>
</form>
<br>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-success" id="submit" onclick="submit()">Submit</button></div>
<br>
<br>
<div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-error" id="show" onclick="showanswer()">Show Answer</button>
</div>
<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-warning" id="next" onclick="next()">Next question</button></div>
<br>
<br>
</div>
</div>
<div class="content" style="background: #596999">
<br>
<h3 style="color: #111111">RESULT</h3>
<h4 id="rightorwrong"></h4>
<h4 id="answer"></h4>
<h4 id="score">Score: 0/0</h4>
<br>
</div>
</div>
<div class="right">
<a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=13)}}">
Next Experiment&nbsp;<i class="fa fa-forward"></i></a>
</div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery.csv-0.71.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/expr12_taalquiz.js"></script>
{% endblock %}


 
