{% extends "layout.html" %}

{% block title %} Experiment 4 {% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css">

    <style>
      body {
          background: white
      }
      canvas {
          padding-left: 0;
          padding-right: 0;
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 800px;
      }
    </style>
{% endblock %}

{% block content %}
<div id="main">

<div class = "container">

    <div class = "left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
</div>


    <div class = "header">
        <div class="pure-g">
            <div class="pure-u-1"> <h1> Trace a Phrase</h1> </div>
            <div class="pure-u-1"> <h3> Experiment 7</h3> </div>
        </div>

        <div class="content">
            <h2 class="content-subhead">Description</h2>
            <aside style="background: #fff1ea; color:#111111">

            <p>
This experiment is going to teach you to listen carefully! Click 'Play Phrase' to play a small piece of music. Click on Marker and draw the phrase
                 as you perceive it in the space provided. There are no correct or wrong answers for this, so you can keep drawing phrases and listening to them.
                 If you want to erase a drawing and start fresh, press Eraser and click on the Canvas; then click on Marker again to start drawing!
            </p>
            </aside>
        </div>

<div class = "content">
    <div class="pure-u-1 centering-div">
        <button class="pure-button centered button-secondary" id="play" onclick = "playrandom()"><i class="fa fa-play"></i> Play Phrase</button>

    </div>

</div>

    <div class="pure-u-1 centering-div">
       <div class="tools">
           <a href="#tools_sketch" data-tool="marker" class="pure-button centered button-secondary">
             <i class="fa fa-paint-brush"></i> Marker
           </a>
           <a href="#tools_sketch" data-tool="eraser" class="pure-button centered button-secondary">
             <i class="fa fa-eraser"></i> Eraser
           </a>
           <a href="#tools_sketch" data-download="png" class="pure-button centered button-secondary">
             <i class="fa fa-download"></i> Download
           </a>

       </div>
        <canvas id="tools_sketch" width="800" height="300" style="border:1px solid #000000;"></canvas>
</div>

</div>

    <div class="right">
  <a class="pure-button button-xlarge" href="{{url_for('render_ragadb')}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
</div>

</div>
</div>

</body>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/sketch.js')}}"></script>

<script type="text/javascript">
  window.onload = function() {
    $(function() {
        $('#tools_sketch').sketch();
        $('#tools_sketch').sketch({defaultColor: "#ff0"});
    });
  };
</script>
<script type = "text/javascript">
  function playrandom(){
      var i = Math.floor(Math.random() * 32) + 1;
      var k = Math.floor(Math.random()* 3);
      var j = '/static/stimuli/phrases/pl1_'+ k+ '/' + i + '.mp3';
      var audioElement = document.createElement('audio');
      audioElement.setAttribute('src', j);
      audioElement.play();
  }
  $(document).ready(function() {
    ML.collectRetentionAndSave(7);
  });
</script>
{% endblock %}
