{% extends "layout.html" %}

{% block title %} Experiment 8 - Tune a tanpura {% endblock %}

{% block head %}
<link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
<div id="main">
  <div class="container">
    <div class="left">
      <a class="pure-button button-xlarge" href="{{url_for('render_explist')}}">
        <i class="fa fa-backward"></i>&nbsp;To Experiment List
      </a>
    </div>

    <div class="header">
      <div class="pure-g">
        <div class="pure-u-1"><h1> Tune a Tanpura </h1></div>
        <div class="pure-u-1"><h3> Experiment 8 </h3></div>
      </div>

      <div class="content">
        <h2 class="content-subhead">Description</h2>
        <p>
          In this experiment,you will learn how to tune a tanpura. There are two
          oscillators given below, one is a reference oscillator and the other is
          tuning oscillator. As the reference oscillator is played, you need to
          tune the tuning oscillator by pressing the up and down arrows such that
          both of them would play at the same frequency. There is also a slider
          which sets the parameter as to how many offsets you want to detune The
          feedback is given below as soon as you press the up and down arrow. By
          this experiment you will learn how to tune to a particular frequency
          when a reference frequency is played.
        </p>
      </div>

      <div class="container">
        <div class="content">

          <aside style="background: #fff1ea; color:#111111">
            <h3 style="color: #111111">Question</h3>
            <div class="pure-u-1-1 centering-div"></div>

            <div class="pure-u-1-4 centering-div">
              <button value="play" class="pure-button button-secondary off" id="btn1"
                style="height: 65px;">
                <i class="fa fa-play fa-2x"></i>
              </button>
              <p> Play the reference oscillator</p>
            </div>

            <div class="pure-u-1-4 centering-div">
              <button value="play" class="pure-button button-secondary off" id="btn2"
                style="height: 65px;">
                <i class="fa fa-play fa-2x"></i>
              </button>
              <p> Play the tuning oscillator</p>
            </div>
            <br>
          </aside>
          <br><br>

          <div class="content">
            <aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
            <div class="pure-u-1-1 centering-div"></div>

            <div class="pure-u-1-4 centering-div">
              <p>Start Again</p>
              <br>
              <button class="start pure-button button-error" onClick="check()">Start Afresh</button>
            </div>

            <div class="pure-u-1-4 centering-div">
              <div id="incdec">
                <p> Click here to tune the oscillator</p>
                <button onclick="guess_up_clicked()" class="pure-button"
                  style="color: #000;">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button onclick="guess_down_clicked()" class="pure-button"
                  style="color: #000;">
                  <i class="fa fa-arrow-down"></i>
                </button>
              </div>
            </div>

            <div class="pure-u-1-4 centering-div">
              <form class="pure-form">
                <p> Set the detune value </p>
                <input type="range" value="5" min="0" max="10" step="5" id="step-size" onchange="showValue(this.value)"
                  style="-webkit-appearance: initial;"/>
                <span id="range">5</span>
              </form>
            </div>

            <aside style="background: #596999;">
              <div class="pure-u-1-4 centering-div">
                <p style="color: #ffffff">Result</p>
                <div id="demo"></div>
              </div>
            </aside>
          </aside>
        </div> <!-- end .content div -->

      </div> <!-- end .container div -->
    </div>
  </div>

<script type="text/javascript">
function showValue(newValue)
{
	document.getElementById("range").innerHTML=newValue;
}
</script>
<div class = "right">
<a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=9)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
</div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/expr8_tanpura.js')}}"></script>
{% endblock %}


