{% extends "layout.html" %}

{% block title %} Experiment 10 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css" xmlns="http://www.w3.org/1999/html">
<link rel = "stylesheet" href="../../static/css/columns.css">

{% endblock %}

{% block content %}

<div id = "main">
<div class = "container">

    <div class = "left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
</div>


    <div class = "header">
<div class="pure-g">
    <div class="pure-u-1"> <h1> Listen to various bols</h1> </div>
    <div class="pure-u-1"> <h2 class="content-subhead" style="color: #333333"> Experiment 10</h2> </div>
</div>

 <div class="content">
            <aside style="background:#FFFFFF"><h3 style="color:#111111">Description</h3>
            <p style="color:#111111">
Listen to various bols.
            </p>
	</aside>
        </div>
<h4>Tabla Bols</h4>
<div class = "container">
<div class = "pure-g">

    <div class ="pure-u-1-1"></div>

         <div class ="pure-u-1-1">
        <button  class="pure-button centered option button-secondary" onclick="playbol_dha()">Dha Bol</button>

        <button class="pure-button centered option button-secondary" onclick="playbol_ge()">Ge Bol</button>

        <button class="pure-button centered option button-secondary" onclick="playbol_ka()">Ka Bol</button>

        <button class="pure-button centered option button-secondary" onclick="playbol_na()">Na Bol</button>
<br><br>
        <button class="pure-button centered option button-secondary" onclick="playbol_re()">Re Bol</button>

        <button class="pure-button centered option button-secondary" onclick="playbol_ta()">Ta Bol</button>

    </div>
</div>
</div>
</div>
<div class = "right"></div>

</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/expr10_bols.js')}}"></script>

{% endblock %}
