{% extends "layout.html" %}

{% block title %} Experiment 9 {% endblock %}
{% block head %}
    <link rel="stylesheet" href="http://purecss.io/css/layouts/side-menu.css" xmlns="http://www.w3.org/1999/html">
<!--script src="/static/js/jquery-1.11.1.min.js"></script-->

{% endblock %}

{% block content %}

<div id = "main">
<div class = "container">

    <div class = "left">

<a class="pure-button button-xlarge" href="{{url_for('render_explist')}}"><i class="fa fa-backward"></i>&nbsp;To Experiment List</a><!--/button-->
</div>


    <div class = "header">
<div class="pure-g">
    <div class="pure-u-1"> <h1> Tabla Exploration</h1> </div>
    <div class="pure-u-1"> <h3> Experiment 9</h3> </div>
</div>
<div id="layer">
 <aside style = "background: #FFFFFF"><h3 style="color: #111111">Description</h3>
            <p style="color:#111111">
In this experiment, two sounds will be played one after other, you need it identify whether they are tabla or dagga sounds.
            </p>
	</aside>
</div>
<div id="layer">
<aside style="background: #fff1ea; color:#111111">
             <h3 style="color: #111111">Question</h3>
<div class = "panel" id = "panel1">
<div class="pure-u-1-1 centering-div"> </div>
		<div class="pure-u-1-4 centering-div"><button class="pure-button centered option button-secondary" onclick="playsound()"><i class="fa fa-play"></i>Play Sound</button> </div>
<form class="pure-form" name="swarr1" id="l1">
<br>
</aside>
<br>
<aside style="background: #e5dcd9">
            <h3 style="color: #111111">Answer</h3>
<input type="radio" name="swar1" value="Both Tabla" id="my1"> Both Tabla &nbsp;
<input type="radio" name="swar1" value="Both Dagga" id="my2"> Both Dagga &nbsp;
<input type="radio" name="swar1" value="Tabla and Dagga" id="my3"> Tabla and Dagga 
</form>
<br>
<br>
<br>
<div class="pure-u-1 centering-div"><button class="pure-button centered option button-secondary" onclick="submit()">Submit</button> </div>
<br>
<br>
</aside>
<aside style="background: #596999; color:#ffffff;">
            <h3 style="color: #ffffff">Result</h3>
            <div style="font-size: 20pt, color:#ffffff;" id="answer"></div>
            <div class="pure-u-1-4 centering-div"></div>
            <div style="font-size: 20pt, color:#ffffff;" id="score"></div>
           <div class="pure-u-1-4 centering-div"></div>
            </aside>
<!--div class="pure-u-1-4 centering-div"></div>
<div id="answer" style="font-size: 20pt;"></div>
<br>
<div class="pure-u-1-4 centering-div"></div>
<div id="score" style="font-size: 20pt;"></div--!>

</div>
{#<div class="exprmnt-btn-wrapper">#}
{##}
{#</div>#}
</div>
<div class = "right">
  <a class="pure-button button-xlarge" href="{{url_for('render_experiment', num=10)}}">
      Next Experiment&nbsp;<i class="fa fa-forward"></i></a><!--/button-->
</div>

</div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/expr9_tabla.js')}}"></script>
{% endblock %}
